@import "header";
@import "categories";

body {
  font-family: Arial;
}

.item-image {
  overflow: hidden;
  border: 1px solid darkgray;
  border-radius: 5px;
  img {
    width: 100%;
  }
}

.item-name {
  text-align: center;
  color: $color;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}

.item-description {
  p {
    text-align: left;
    font-size: 14px;
  }
}

.filter {
  margin: 5px 0;
  p {
    text-align: left;
  }
}

hr {
  border-color: darkgray;
  //padding: 0;
  //margin: 5px 0;
}

.credit {
  font-size: 14px;
  color: $color;
}

p {
  text-align: center;
}

.select {
  display: block;
  width: 40%;
  margin: auto;
  padding: 5px 10px;
  color: $color;
  border-radius: 5px;
  border: 1px solid #9898ff;
}

.price {
  display: block;
  margin: 15px auto;
  width: 50%;
  background-color: #9898ff;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  p {
    padding: 10px 5px;
  }
}

.by-now {
  display: block;
  margin: 0 auto;
  border: none;
  width: 230px;
  height: 70px;
}

.count {
  padding: 10px;
  text-align: center;
  p {
    font-size: 13px;
    display: inline;
  }
  input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid darkgrey;
    width: 25px;
    padding: 2px;
  }
  border-bottom: 1px dotted black;
}

.stars {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted black;
}

.star-name {
  font-size: 14px;
  color: darkgray;
}

.star-count {
  text-align: right;
  font-weight: bold;
}

.star-img {
  text-align: center;
  img {
    min-width: 10%;
    max-width: 15%;
  }
}

.item-advanced {
  padding: 5px 0;
  font-size: 14px;
  .item-advanced-description {
    background-color: #9898ff;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px;
  }
}

.feedback {
  @extend .filter;
  text-align: center;
  color: $color;
  font-size: 14px;
  padding: 5px;
}

.recomendation {
  text-align: center;
  margin: -10px 0 10px 0;
}

.rec-item {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  margin: 15px;
  .rec-item-img {
    width: 100%;
    margin: auto;
    background-color: greenyellow;
    overflow: hidden;
    border-radius: 5px;
    img {
      width: 100%;
    }
  }
  .rec-item-price {
    margin: 10px auto;
    display: inline-block;
    background-color: #9898ff;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 5px 20px;
  }
  .rec-item-name{
    color: $color;
  }

}