@import "header";
@import "categories";

$color: #015182;

p {
  padding: 0;
  margin: 0;
}
hr{
  padding: 0;
  margin: 0;
}
.sort {
  @extend .filter;
  background-color: white;
}

.cat-item {
  margin: 10px 0;
  padding-top: 15px;
  background-color: white;
  border-radius: 5px;
  .cat-item-img {
    text-align: center;
    margin: auto;
    border: 1px solid #015182;
    border-radius: 5px;
    width: 100%;
    img {
      width: 98%;
    }
  }
  .fabricator {
    padding: 0 15px;
    text-align: left;
    font-size: 12px;
    color: gray;
    .fabricator-name {
      color: $color;
      text-align: right;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .cat-item-stars {
    text-align: center;
    margin: 0 auto;
    color: red;
    font-size: 24px;
  }
  .cat-item-name {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: $color;
  }
  .cat-item-price {
    font-size: 15px;
    background-color: #9898ff;
    text-align: center;
    border-radius: 5px;
    padding: 2px;
  }
  .cat-item-select {
    border: 1px solid #9898ff;
    font-size: 15px;
    border-radius: 5px;
    color: $color;
    padding: 3px;
    min-width: 70%;
    text-align: center;

  }
  .cat-item-prop {
    padding: 15px 0;
  }
  .cat-item-descr {
    font-size: 13px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    padding: 10px 0;
  }
  .button-by {
    display: block;
    margin: 10px auto;
    border: none;
    width: 100px;
    height: 37px;
  }
  .cat-item-count {
    text-align: center;
    padding: 10px 0;
    p, label {
      font-weight: normal;
      display: inline-block;
    }
    input {
      padding: 2px;
      border-radius: 5px;
      border: 1px solid darkgray;
      width: 35px;
    }
  }
}

