$color : #015182;
.crumbs{
  font-size: 12px;
  color: gray;
}
.cat-title{
  text-align: center;
  font-size: 16px;
  color: $color;
  font-weight: bold;
  padding: 10px 0;
}

.items {
  display: flex;
  flex-wrap: wrap;
  .item {

    overflow: hidden;
    position: relative;
    margin: 4%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: white;
    .item-image {
      padding: 5%;
      display: flex;
      align-items: center;
      &:before {
        padding-top: 100%;
        content: '';
        float: left;
      }
      img {
        width: 100%;
      }
    }
    .item-name {
      p {
        font-size: 14px;
        color: $color;
      }
      i {
        color: black;
        padding-right: 5px;
      }

    }
    .hover {
      display: none;
      left: 0;
      top: 0;
      padding-top: 200%;
      position: absolute;
      width: 100%;
      opacity: 0.5;
      z-index: 2;
      background-color: #0068b4;
    }
    &:hover > .hover {
      display: block;
    }
  }
}

.filter {
  text-align: left;
  margin: 20px 0;
  background-color: #c9ccd3;
  border-radius: 5px;
  i {
    color: black;
    padding-right: 5px;
  }
  p {
    padding: 5px 15px;
    font-size: 14px;
    color: $color;
  }
}

.contacts {
  color: $color;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0;
}

.contact-item {
  background-color: #c9ccd3;
  border-radius: 5px;
  i {
    color: black;
    padding-right: 5px;
  }
  p {
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
    color: $color;
  }
}

.cat-contact {
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 18px;
  hr {
    padding: 0;
    margin: 0;
  }
  p {
    margin: 5px 0;
  }
  .cat-contact-item {
    border-bottom: 1px dotted gray;
    margin: 5px 20px;
    text-align: left;
    .cat-contact-item-label {
      font-weight: bold;
      font-size: 14px;
    }
    .cat-contact-date {
      font-size: 12px;
      color: gray;
    }
    &:last-child{
      border: none;
    }
  }
  .all-stock {
    p {
      font-size: 14px;
      color: $color;
    }
    i {
      color: black;
      padding-right: 5px;
    }
  }
}
