.header {
  z-index: 777;
  position: fixed;
  width: 100%;
  background-color: #015182;
}

.header-top {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #015182;
  text-align: center;
  header-burger img {
    width: 100%;
  }
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  img {
    width: 100%;
  }
}

.header-bottom {
  background-color: #c9ccd2;
  padding: 2px 0;
  .nav {
    text-align: center;
    margin: 3px 10px;
    border-right: 1px solid black;
    img {
      padding: 0;
      max-width: 100%;
    }
    &:last-child {
      border: none;
    }
  }
}

.content {
  margin-top: 80px;
}

.footer {
  position: relative;
  font-size: 14px;

  .copyright {
    margin-top: 12px;
    text-align: center;
    font-size: 12px;
  }
  .rules {
    margin-top: 12px;
    text-align: center;
    font-size: 10px;
  }
  .full-version {
    margin-top: 12px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted darkgrey;
    a {
      font-size: 12px;
      color: black;
    }
  }
  .dvacom {
    text-align: center;
    margin: 10px 0;
    a {
      text-decoration: underline;
      color: black;
      font-style: italic;
      span {
        vertical-align: bottom;
      }
    }
    img {
      max-width: 100%;
    }
  }
  #scroll-top {
    cursor: pointer;
    position: absolute;
    right: 5%;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    img {
      margin-top: 20%;
      max-width: 100%;
    }
  }
}

//ANOTHER
.filter {
  text-align: left;
  margin: 5px 0;
  background-color: #c9ccd3;
  border-radius: 5px;
  i {
    color: black;
    padding-right: 5px;
  }
  p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182;
  }
}

.sort {
  @extend .filter;
  background-color: white;
}

body{
  background-color: #f1eee6;
}