.header {
  z-index: 777;
  position: fixed;
  width: 100%;
  background-color: #015182; }

.header-top {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #015182;
  text-align: center; }
  .header-top header-burger img {
    width: 100%; }

.logo {
  position: absolute;
  right: 0;
  top: 0; }
  .logo img {
    width: 100%; }

.header-bottom {
  background-color: #c9ccd2;
  padding: 2px 0; }
  .header-bottom .nav {
    text-align: center;
    margin: 3px 10px;
    border-right: 1px solid black; }
    .header-bottom .nav img {
      padding: 0;
      max-width: 100%; }
    .header-bottom .nav:last-child {
      border: none; }

.content {
  margin-top: 80px; }

.footer {
  position: relative;
  font-size: 14px; }
  .footer .copyright {
    margin-top: 12px;
    text-align: center;
    font-size: 12px; }
  .footer .rules {
    margin-top: 12px;
    text-align: center;
    font-size: 10px; }
  .footer .full-version {
    margin-top: 12px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted darkgrey; }
    .footer .full-version a {
      font-size: 12px;
      color: black; }
  .footer .dvacom {
    text-align: center;
    margin: 10px 0; }
    .footer .dvacom a {
      text-decoration: underline;
      color: black;
      font-style: italic; }
      .footer .dvacom a span {
        vertical-align: bottom; }
    .footer .dvacom img {
      max-width: 100%; }
  .footer #scroll-top {
    cursor: pointer;
    position: absolute;
    right: 5%;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75); }
    .footer #scroll-top img {
      margin-top: 20%;
      max-width: 100%; }

.filter, .sort, .feedback {
  text-align: left;
  margin: 5px 0;
  background-color: #c9ccd3;
  border-radius: 5px; }
  .filter i, .sort i, .feedback i {
    color: black;
    padding-right: 5px; }
  .filter p, .sort p, .feedback p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.sort {
  background-color: white; }

body {
  background-color: #f1eee6; }

.crumbs {
  font-size: 12px;
  color: gray; }

.cat-title {
  text-align: center;
  font-size: 16px;
  color: #015182;
  font-weight: bold;
  padding: 10px 0; }

.items {
  display: flex;
  flex-wrap: wrap; }
  .items .item {
    overflow: hidden;
    position: relative;
    margin: 4%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: white; }
    .items .item .item-image {
      padding: 5%;
      display: flex;
      align-items: center; }
      .items .item .item-image:before {
        padding-top: 100%;
        content: '';
        float: left; }
      .items .item .item-image img {
        width: 100%; }
    .items .item .item-name p {
      font-size: 14px;
      color: #015182; }
    .items .item .item-name i {
      color: black;
      padding-right: 5px; }
    .items .item .hover {
      display: none;
      left: 0;
      top: 0;
      padding-top: 200%;
      position: absolute;
      width: 100%;
      opacity: 0.5;
      z-index: 2;
      background-color: #0068b4; }
    .items .item:hover > .hover {
      display: block; }

.filter, .sort, .feedback {
  text-align: left;
  margin: 20px 0;
  background-color: #c9ccd3;
  border-radius: 5px; }
  .filter i, .sort i, .feedback i {
    color: black;
    padding-right: 5px; }
  .filter p, .sort p, .feedback p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.contacts {
  color: #015182;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0; }

.contact-item {
  background-color: #c9ccd3;
  border-radius: 5px; }
  .contact-item i {
    color: black;
    padding-right: 5px; }
  .contact-item p {
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.cat-contact {
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 18px; }
  .cat-contact hr {
    padding: 0;
    margin: 0; }
  .cat-contact p {
    margin: 5px 0; }
  .cat-contact .cat-contact-item {
    border-bottom: 1px dotted gray;
    margin: 5px 20px;
    text-align: left; }
    .cat-contact .cat-contact-item .cat-contact-item-label {
      font-weight: bold;
      font-size: 14px; }
    .cat-contact .cat-contact-item .cat-contact-date {
      font-size: 12px;
      color: gray; }
    .cat-contact .cat-contact-item:last-child {
      border: none; }
  .cat-contact .all-stock p {
    font-size: 14px;
    color: #015182; }
  .cat-contact .all-stock i {
    color: black;
    padding-right: 5px; }

body {
  font-family: Arial; }

.item-image {
  overflow: hidden;
  border: 1px solid darkgray;
  border-radius: 5px; }
  .item-image img {
    width: 100%; }

.item-name {
  text-align: center;
  color: #015182;
  font-size: 16px;
  font-weight: bold;
  padding: 5px; }

.item-description p {
  text-align: left;
  font-size: 14px; }

.filter, .sort, .feedback {
  margin: 5px 0; }
  .filter p, .sort p, .feedback p {
    text-align: left; }

hr {
  border-color: darkgray; }

.credit {
  font-size: 14px;
  color: #015182; }

p {
  text-align: center; }

.select {
  display: block;
  width: 40%;
  margin: auto;
  padding: 5px 10px;
  color: #015182;
  border-radius: 5px;
  border: 1px solid #9898ff; }

.price {
  display: block;
  margin: 15px auto;
  width: 50%;
  background-color: #9898ff;
  border-radius: 5px;
  font-size: 20px;
  color: white; }
  .price p {
    padding: 10px 5px; }

.by-now {
  display: block;
  margin: 0 auto;
  border: none;
  width: 230px;
  height: 70px; }

.count {
  padding: 10px;
  text-align: center;
  border-bottom: 1px dotted black; }
  .count p {
    font-size: 13px;
    display: inline; }
  .count input {
    text-align: center;
    border-radius: 5px;
    border: 1px solid darkgrey;
    width: 25px;
    padding: 2px; }

.stars {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted black; }

.star-name {
  font-size: 14px;
  color: darkgray; }

.star-count {
  text-align: right;
  font-weight: bold; }

.star-img {
  text-align: center; }
  .star-img img {
    min-width: 10%;
    max-width: 15%; }

.item-advanced {
  padding: 5px 0;
  font-size: 14px; }
  .item-advanced .item-advanced-description {
    background-color: #9898ff;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 5px; }

.feedback {
  text-align: center;
  color: #015182;
  font-size: 14px;
  padding: 5px; }

.recomendation {
  text-align: center;
  margin: -10px 0 10px 0; }

.rec-item {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 5%;
  margin: 15px; }
  .rec-item .rec-item-img {
    width: 100%;
    margin: auto;
    background-color: greenyellow;
    overflow: hidden;
    border-radius: 5px; }
    .rec-item .rec-item-img img {
      width: 100%; }
  .rec-item .rec-item-price {
    margin: 10px auto;
    display: inline-block;
    background-color: #9898ff;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 5px 20px; }
  .rec-item .rec-item-name {
    color: #015182; }

/*# sourceMappingURL=aboutitem.css.map */
