.header {
  z-index: 777;
  position: fixed;
  width: 100%;
  background-color: #015182; }

.header-top {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #015182;
  text-align: center; }
  .header-top header-burger img {
    width: 100%; }

.logo {
  position: absolute;
  right: 0;
  top: 0; }
  .logo img {
    width: 100%; }

.header-bottom {
  background-color: #c9ccd2;
  padding: 2px 0; }
  .header-bottom .nav {
    text-align: center;
    margin: 3px 10px;
    border-right: 1px solid black; }
    .header-bottom .nav img {
      padding: 0;
      max-width: 100%; }
    .header-bottom .nav:last-child {
      border: none; }

.content {
  margin-top: 80px; }

.footer {
  position: relative;
  font-size: 14px; }
  .footer .copyright {
    margin-top: 12px;
    text-align: center;
    font-size: 12px; }
  .footer .rules {
    margin-top: 12px;
    text-align: center;
    font-size: 10px; }
  .footer .full-version {
    margin-top: 12px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted darkgrey; }
    .footer .full-version a {
      font-size: 12px;
      color: black; }
  .footer .dvacom {
    text-align: center;
    margin: 10px 0; }
    .footer .dvacom a {
      text-decoration: underline;
      color: black;
      font-style: italic; }
      .footer .dvacom a span {
        vertical-align: bottom; }
    .footer .dvacom img {
      max-width: 100%; }
  .footer #scroll-top {
    cursor: pointer;
    position: absolute;
    right: 5%;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75); }
    .footer #scroll-top img {
      margin-top: 20%;
      max-width: 100%; }

.filter, .sort {
  text-align: left;
  margin: 5px 0;
  background-color: #c9ccd3;
  border-radius: 5px; }
  .filter i, .sort i {
    color: black;
    padding-right: 5px; }
  .filter p, .sort p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.sort {
  background-color: white; }

body {
  background-color: #f1eee6; }

.crumbs {
  font-size: 12px;
  color: gray; }

.cat-title {
  text-align: center;
  font-size: 16px;
  color: #015182;
  font-weight: bold;
  padding: 10px 0; }

.items {
  display: flex;
  flex-wrap: wrap; }
  .items .item {
    overflow: hidden;
    position: relative;
    margin: 4%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: white; }
    .items .item .item-image {
      padding: 5%;
      display: flex;
      align-items: center; }
      .items .item .item-image:before {
        padding-top: 100%;
        content: '';
        float: left; }
      .items .item .item-image img {
        width: 100%; }
    .items .item .item-name p {
      font-size: 14px;
      color: #015182; }
    .items .item .item-name i {
      color: black;
      padding-right: 5px; }
    .items .item .hover {
      display: none;
      left: 0;
      top: 0;
      padding-top: 200%;
      position: absolute;
      width: 100%;
      opacity: 0.5;
      z-index: 2;
      background-color: #0068b4; }
    .items .item:hover > .hover {
      display: block; }

.filter, .sort {
  text-align: left;
  margin: 20px 0;
  background-color: #c9ccd3;
  border-radius: 5px; }
  .filter i, .sort i {
    color: black;
    padding-right: 5px; }
  .filter p, .sort p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.contacts {
  color: #015182;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px 0; }

.contact-item {
  background-color: #c9ccd3;
  border-radius: 5px; }
  .contact-item i {
    color: black;
    padding-right: 5px; }
  .contact-item p {
    text-align: left;
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.cat-contact {
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 18px; }
  .cat-contact hr {
    padding: 0;
    margin: 0; }
  .cat-contact p {
    margin: 5px 0; }
  .cat-contact .cat-contact-item {
    border-bottom: 1px dotted gray;
    margin: 5px 20px;
    text-align: left; }
    .cat-contact .cat-contact-item .cat-contact-item-label {
      font-weight: bold;
      font-size: 14px; }
    .cat-contact .cat-contact-item .cat-contact-date {
      font-size: 12px;
      color: gray; }
    .cat-contact .cat-contact-item:last-child {
      border: none; }
  .cat-contact .all-stock p {
    font-size: 14px;
    color: #015182; }
  .cat-contact .all-stock i {
    color: black;
    padding-right: 5px; }

p {
  padding: 0;
  margin: 0; }

hr {
  padding: 0;
  margin: 0; }

.sort {
  background-color: white; }

.cat-item {
  margin: 10px 0;
  padding-top: 15px;
  background-color: white;
  border-radius: 5px; }
  .cat-item .cat-item-img {
    text-align: center;
    margin: auto;
    border: 1px solid #015182;
    border-radius: 5px;
    width: 100%; }
    .cat-item .cat-item-img img {
      width: 98%; }
  .cat-item .fabricator {
    padding: 0 15px;
    text-align: left;
    font-size: 12px;
    color: gray; }
    .cat-item .fabricator .fabricator-name {
      color: #015182;
      text-align: right;
      font-size: 14px;
      font-weight: bold; }
  .cat-item .cat-item-stars {
    text-align: center;
    margin: 0 auto;
    color: red;
    font-size: 24px; }
  .cat-item .cat-item-name {
    padding: 5px;
    text-align: center;
    font-size: 16px;
    color: #015182; }
  .cat-item .cat-item-price {
    font-size: 15px;
    background-color: #9898ff;
    text-align: center;
    border-radius: 5px;
    padding: 2px; }
  .cat-item .cat-item-select {
    border: 1px solid #9898ff;
    font-size: 15px;
    border-radius: 5px;
    color: #015182;
    padding: 3px;
    min-width: 70%;
    text-align: center; }
  .cat-item .cat-item-prop {
    padding: 15px 0; }
  .cat-item .cat-item-descr {
    font-size: 13px;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    padding: 10px 0; }
  .cat-item .button-by {
    display: block;
    margin: 10px auto;
    border: none;
    width: 100px;
    height: 37px; }
  .cat-item .cat-item-count {
    text-align: center;
    padding: 10px 0; }
    .cat-item .cat-item-count p, .cat-item .cat-item-count label {
      font-weight: normal;
      display: inline-block; }
    .cat-item .cat-item-count input {
      padding: 2px;
      border-radius: 5px;
      border: 1px solid darkgray;
      width: 35px; }

/*# sourceMappingURL=catalog.css.map */
