.header {
  z-index: 777;
  position: fixed;
  width: 100%;
  background-color: #015182; }

.header-top {
  position: relative;
  font-size: 14px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #015182;
  text-align: center; }
  .header-top header-burger img {
    width: 100%; }

.logo {
  position: absolute;
  right: 0;
  top: 0; }
  .logo img {
    width: 100%; }

.header-bottom {
  background-color: #c9ccd2;
  padding: 2px 0; }
  .header-bottom .nav {
    text-align: center;
    margin: 3px 10px;
    border-right: 1px solid black; }
    .header-bottom .nav img {
      padding: 0;
      max-width: 100%; }
    .header-bottom .nav:last-child {
      border: none; }

.content {
  margin-top: 80px; }

.footer {
  position: relative;
  font-size: 14px; }
  .footer .copyright {
    margin-top: 12px;
    text-align: center;
    font-size: 12px; }
  .footer .rules {
    margin-top: 12px;
    text-align: center;
    font-size: 10px; }
  .footer .full-version {
    margin-top: 12px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px dotted darkgrey; }
    .footer .full-version a {
      font-size: 12px;
      color: black; }
  .footer .dvacom {
    text-align: center;
    margin: 10px 0; }
    .footer .dvacom a {
      text-decoration: underline;
      color: black;
      font-style: italic; }
      .footer .dvacom a span {
        vertical-align: bottom; }
    .footer .dvacom img {
      max-width: 100%; }
  .footer #scroll-top {
    cursor: pointer;
    position: absolute;
    right: 15%;
    bottom: 30%;
    width: 30px;
    height: 30px;
    background-color: greenyellow;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75); }
    .footer #scroll-top img {
      margin-top: 20%;
      max-width: 100%; }

.filter {
  text-align: left;
  margin: 20px 0;
  background-color: #c9ccd3;
  border-radius: 5px;
  border: 1px solid #e1e1e1; }
  .filter i {
    color: black;
    padding-right: 5px; }
  .filter p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

body {
  background-color: #f1eee6; }

/*# sourceMappingURL=header.css.map */
