body {
  background-color: #f1eee6; }

hr {
  color: gray; }

.banner {
  padding: 15px 0; }
  .banner img {
    width: 100%; }

.items {
  display: flex;
  flex-wrap: wrap; }
  .items .item {
    overflow: hidden;
    position: relative;
    margin: 4%;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: white; }
    .items .item .item-image {
      padding: 5%;
      display: flex;
      align-items: center; }
      .items .item .item-image:before {
        padding-top: 100%;
        content: '';
        float: left; }
      .items .item .item-image img {
        width: 100%; }
    .items .item .item-name p {
      font-size: 14px;
      color: #015182; }
    .items .item .item-name i {
      color: black;
      padding-right: 5px; }
    .items .item .hover {
      display: none;
      left: 0;
      top: 0;
      padding-top: 200%;
      position: absolute;
      width: 100%;
      opacity: 0.5;
      z-index: 2;
      background-color: #0068b4; }
    .items .item:hover > .hover {
      display: block; }

.filter {
  margin: 20px 0;
  background-color: #c9ccd3;
  border-radius: 5px; }
  .filter i {
    color: black;
    padding-right: 5px; }
  .filter p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

.stock {
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 18px; }
  .stock hr {
    padding: 0;
    margin: 0; }
  .stock p {
    margin: 5px 0; }
  .stock .stock-item {
    border-bottom: 1px dotted gray;
    margin: 5px 20px;
    text-align: left; }
    .stock .stock-item .stock-item-label {
      text-decoration: underline;
      font-size: 16px; }
    .stock .stock-item .stock-date {
      font-size: 12px;
      color: gray; }
  .stock .all-stock p {
    font-size: 14px;
    color: #015182; }
  .stock .all-stock i {
    color: black;
    padding-right: 5px; }

.videos {
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid darkgrey;
  text-align: center;
  font-size: 18px; }
  .videos hr {
    padding: 0;
    margin: 0; }
  .videos p {
    margin: 5px 0; }
  .videos .video-item {
    padding: 15px 15px 5px 15px; }

.contacts {
  color: #015182;
  margin: 15px 0;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px; }

.contact-item {
  background-color: #c9ccd3;
  border-radius: 5px; }
  .contact-item i {
    color: black;
    padding-right: 5px; }
  .contact-item p {
    padding: 5px 15px;
    font-size: 14px;
    color: #015182; }

/*# sourceMappingURL=main.css.map */
